body{
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?cs=srgb&dl=pexels-larissa-barbosa-945746-1870376.jpg&fm=jpg);
}

h1{
    color: darkblue;
}
.spin-text {
    display: inline-block;
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}

/* Define the spin animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Trigger the animation on hover */
.spin-text:hover {
    animation: spin 0.6s linear infinite;
}
p{
    color: rgb(214, 43, 100);
    background-color: rgb(227, 227, 32);
}

#helloColor{
    color: violet;
}
h2 {
    text-decoration: underline;
    color:blueviolet
}
