body{
    background-size: cover;
    background-image: url(https://images.pexels.com/photos/1870376/pexels-photo-1870376.jpeg?cs=srgb&dl=pexels-larissa-barbosa-945746-1870376.jpg&fm=jpg);
}

h1{
    color: darkblue;
}
p{
    color: rgb(214, 43, 100);
    background-color: rgb(227, 227, 32);
}

#helloColor{
    color: violet;
}